$main-background:#3bbfce
$hr-background:green
$fullscreen:100%

@mixin bg($color)
  background: $color

*
  margin: 0

body
  margin: 0

.screen
  width: $fullscreen

#main
  @include bg($main-background)

#hr
  @include bg($hr-background)

#nav
  position: absolute
  top: 50px
  right: 20px